form  { display: table;
        width: 100%;
}
p     { display: table-row;  }
label { display: table-cell;
        padding: 4px
}
input { display: table-cell;
}

.label { display: table-cell;

}
.value {
    padding-left: 10px;
    padding-right: 5px;
    display: table-cell;
    font-weight: bold;

}

.col{
    padding: 10px;
}
